# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# Dataset and checkpoints
data/
checkpoints/

# OS files
.DS_Store
Thumbs.db

# Jupyter
*.ipynb_checkpoints

# IDE
.vscode/

# Logs
*.log

checkpoints
data